Django==5.2.17
djangorestframework==3.18.1
mysqlclient==2.3.0

python-dotenv>=1.0.0
pymupdf>=1.24.0

numpy>=1.26.0
pandas>=2.2.0
tqdm>=4.66.0

sentence-transformers==6.1.0
faiss-cpu>=1.8.0

pydantic>=2.8.0
groq>=0.9.0